/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "gg sans","Noto Sans","Helvetica Neue",Helvetica,Arial,sans-serif ;
}

header{
    background-color: #3161E0;
    height: 80px;
}

header section.container{
    background-color: #3161E0;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.button{
    padding: 8px;
    border-radius: 50px;
    border: 1px solid white;
    font-weight: bold;
}

a,
.text{
    color: white;
}

/* HEADER */

header .container{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
}

header nav ul li{
    margin: 0 20px;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.jumbotron{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.jumbotron .text{
    width: 40%;
}

.title{
    font-size: 3rem;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

#intro{
    line-height: 30px;
    font-size: 18px;
    text-align: center;
}

.download{
    display: flex;
    justify-content: space-around;
    padding-top: 30px;
}

.download a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: white;
    padding: 20px 30px;
    border-radius: 30px;
    font-weight: bold;
}

.download a:first-child{
    vertical-align: middle;
}

.download a:nth-child(2){
    background-color: #23272A;
    color: white;
}

/* MAIN */
main section{
    padding: 30px 0;
    min-height: 500px;
    display: flex;
}

main section:nth-child(even){
    background-color: rgb(220, 220, 220);
}

section .container{
    display: flex;
}

.container.reverse{
    flex-direction: row-reverse;
}

.image{
    width: 60%;
}

.image img{
    width: 80%;
    height: 100%;
}


.content {
    width: 40%;
    padding: 60px 0;
}

.description {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 10px;
    line-height: 40px;
    word-wrap: break-word;
    width: 50%;
}

.special{
    text-align: center;
}

.description.special{
    width: 100%;
}

.details.special{
    max-width: 700px;
    padding-top: 20px;
}

section.special .container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta .download a{
    background-color: #8EA1E1;
    color:white;
}

/* /MAIN */

/* FOOTER */
footer{
    background-color: #24272A;
}

.footer-top{
    display: flex;
}

.social{
    width: calc(100% / 3);
}

.social, .menucol{
    padding: 50px 0;
} 

.social h2, .menucol h3{
    padding-bottom: 10px;
    color: #6478BB;
}

.social img{
    width:30px;
    height: 20px;
    vertical-align: middle;
}

.socialcol{
    color:white;
    width: 150px;
}

.language{
    padding: 20px 0;
}

#arrow{
    font-size: 12px;
    vertical-align: top;
}

.language span{
    font-size: 14px;
}

.icon{
    display: flex;
    justify-content: space-between;
}

.menucol{
    width: calc(100% / 6);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.menucol a{
    padding: 5px 0;
}

.footer-bottom{
    display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid white;
  padding-top: 30px;
}




